.bouton {
    display: flex;
    padding: 8px 16px;
    background-color: var(--color-primary);
    width: fit-content;
    border-radius: 40px;
}

.bouton:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
}
