.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr;
        max-height: none;
        width: auto;
        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.cards {
    margin-top: 100px;
    gap: 50px;
    display: grid;
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
    }
}
.card__media {
    aspect-ratio: 595/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}
