footer {
    padding: 80px 110px;
    .wrapper {
        text-align: center;
        p {
            color: var(--color-white);
            font-weight: 100;
        }

        h1 {
            color: var(--color-secondary);
            font-weight: 300;
        }

        h1 span {
            color: var(--color-white);
        }

        .sites {
            display: flex;
            justify-content: center;
            gap: 56px;
        }
    }
}
