.hero {
    padding: 80px 0;
    position: relative;
    .wrapper {
        min-height: 80vh;
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
    .hero__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
