.reaction {
    background-color: var(--color-primary);
    padding: 80px 110px;

    h2 {
        margin: 0;
        color: var(--color-black);
        padding-bottom: 100px;
    }
    h2 span {
        color: black;
    }

    .bouton {
        background-color: var(--color-white);
    }
    .bouton:hover {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    .swiper {
        gap: 50px;
    }
}
