/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: tomato;
    --color-secondary: rgba(255, 255, 255, 0.55);
    --color-bg-primary: #e2e2e2;
}
