{% include "_partials/_header.html" with { title: 'Accueil' } %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/a31582f6a5e9185683b86c6f07838350730fff85.png" alt="" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <span></span>
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Intro_Timtool.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - REVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="bouton" href="https://www.youtube.com/watch?v=xvFZjo5PgG0">
                        voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/TimCade.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="bouton" href="https://emorin.dectim.ca/cours/cw3/sem02/">
                        voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Louisa.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="bouton" href="https://emorin.dectim.ca/cours/cw3/sem03/">
                        voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Icones.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a class="bouton" href="https://emorin.dectim.ca/cours/cw3/sem04/">
                        voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reaction">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires reactifs</span>
        </h2>
        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/SEM07.png" alt="" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 07 - SITE REACTIF</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a class="bouton" href="https://emorin.dectim.ca/cours/cw3/sem07/">
                                voir le laboratoire
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/SEM08.png" alt="" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 08 - CRYTOQC</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="tag">SCSS + HTML</p>
                            <a class="bouton" href="https://emorin.dectim.ca/cours/cw3/sem08/">
                                voir le laboratoire
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/SEM09.png" alt="" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 09 - SwiperJS</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                            <p class="tag">JS + SCSS</p>
                            <a class="bouton" href="https://emorin.dectim.ca/cours/cw3/sem09/">
                                voir le laboratoire
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
